<!DOCTYPE html>
<head>
  <title>{{ title }}</title>
</head>

<body>
  <h1>PILL WEB APP</h1>
  <h2>Current Date: {{ time }}</h2>
  <h2> {{ text }} </h2>
  
  <br>
  <img src = "/finalpill" alt = "Pill Image">
  <img src = "/qrimage" alt = "QR Image">

  <br>
  <a href="/scanpill"><button>Full Scan One Pill</button></a>
  <a href="/picsonly"><button>Image One Pill</button></a>
  <br>
  <a href="/analyze"><button>Encode One Pill</button></a>
  <a href="/databasematch"><button>Run Pill Through Database</button></a>
  <br>
  <a href="/button1"><button>Page 1</button></a>
  <a href="/button2"><button>Page 2</button></a>
  <br>
  
</body>
</html>
