@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

#parent {
    overflow: hidden;
}

#child {
    overflow-y: scroll;
}

h1 {
    margin-top: 0;
}

:root {
    --primary: #ddd;
    --font: #333;
    --shadow: 0 1px 5px rgba(104, 104, 104, .8);
    --background: #FEFEFE;
    --blue: #9FC3E5;
    --grey: #e3e3e3;
    --dark-grey: #c7c7c7;
}


body {
    background: var(--background);
    margin: 0px 0px !important;
    line-height: 1.4;
}

html {
    color: var(--font);
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.wrapper {
    margin: 50px 70px;
    padding-bottom: 20px;
}
.clock {
    display: grid;
    position: fixed;
    top: 0px;
    width: 100%;
    text-align: center;
    color: var(--font);
    background-color: var(--background);
    padding: 0px;
}

.logo {
    position: fixed;
    display: grid;
    grid-column: 1/8 7/8;
    top: 20px;
    left: 0px;
    width: 100%;
    height: 50px;
    font-size: larger;
    padding: 0px 0px;
    background-color: var(--background);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

    .logo a {
        text-decoration: none;
        text-align: center;
        color: var(--font);
        
        text-transform: capitalize;
    }

/*menu bar*/
.slide {
    position: fixed;
    padding: 0px 20px;
    color: var(--font);
    background-color: var(--background);
}

.nav {
    height: 100%;
    width: 0;
    justify-content: left;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--grey);
    padding-top: 70px;
    transition: .5s;
    overflow-x: hidden;
}

    .nav ul {
        padding: 0;
    }

    .nav li:hover {
        border-left: 6px solid var(--blue);
        background-color: var(--dark-grey);
    }

    .nav a {
        display: block;
        padding: 10px 30px;
        color: #000000;
        text-decoration: none;
        font-size: 25px;
    }

        .nav a:hover {
            color: #080808;
            transition: .5s;
        }

    .nav .close {
        position: absolute;
        top: 0;
        margin-left: 20px;
        margin-top: 30px;
        padding: 0;
        font-size: 30px;
    }

#content {
    transition: margin-left .5s;
    width: 100%;
}



/*For clickable boxes on homepage*/
.main_boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    align-content: center;
    justify-content: center;
}

    .main_boxes a {
        text-decoration: none;
        color: #000;
        font-size-adjust: 0.58;
    }

        .main_boxes a:hover {
            transition: .5s;
            text-decoration: none;
        }

.box:hover {
    background-color: #75a9d9;
}

.box {
    text-align: center;
    padding: 1rem 1rem;
    box-shadow: var(--shadow);
    background-color: var(--blue);
    text-decoration: none;
}

/* loading page */
.loader {
    position: absolute;
    top: 40%;
    left: 40%;
    border: 16px solid var(--grey); /* Light grey */
    border-top: 16px solid var(--blue); /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*verification of pills*/
.verify {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
}

.result_box {
    text-align: center;
    padding: 1.5rem 2rem;
    background-color: #FEFEFE;
    text-decoration: none;
}

.verify a {
    text-decoration: none;
    color: #000;
}

/*Contact page*/
.form-box {
    width: 100%;
    padding: 50px 30%;
    background-color: #fff;
}

    .form-box form input {
        width: 40%;
        height: 30px;
        margin-bottom: 4px;
        padding: 0px 1%;
        border: 1px solid orange;
        font-size: 16px;
        color: #282828;
        font-family: Lato;
    }

    .form-box form textarea {
        width: 40%;
        height: 200px;
        margin-bottom: 4px;
        font-size: 16px;
        padding: 6px 1%;
        border: 1px solid orange;
        resize: vertical;
    }

    .form-box button {
        width: 120px;
        height: 30px;
        background-color: orange;
        border: none;
        font-size: 16px;
        color: #282828;
        font-family: Lato;
        text-transform: uppercase;
    }

/*Prescription table list*/
table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 18px;
}

td, th {
    width: 15%;
    height: 8%;
    text-align: center;
    font-size: 18px;
    padding: 10px 0px;
    text-transform: capitalize;
}

tr:nth-child(even) {
    background-color: var(--grey);
}

tr:nth-child(odd) {
    background-color: var(--background);
}

th {
    background: var(--blue);
    border-color: var(--background);
    font-size: 20px;
}
/*steve's image processing*/
.top_box {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

    .top_box a {
        text-decoration: none;
        color: #000;
    }

        .top_box a:hover {
            transition: .5s;
            text-decoration: none;
        }

a.buttons {
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #3e94e6;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align: center;
    position: relative;
    justify-items: center;
}

    a.buttons:active {
        top: 0.1em;
    }

@media all and (max-width:30em) {
      a.buttons {
        display: block;
        margin: 0.4em auto;
    }
}

/*Add Medication Page*/
.form-new-user {
    width: 100%;
    padding: 20px 0;
    background-color: #fff;
}

    .form-new-user form input {
        width: 40%;
        height: 30px;
        margin-bottom: 4px;
        padding: 0px 1%;
        border: 1px solid var(--dark-grey);
        font-size: 16px;
        color: #282828;
        font-family: Lato;
    }

    .form-new-user form textarea {
        width: 40%;
        height: 200px;
        margin-bottom: 4px;
        font-size: 16px;
        padding: 6px 1%;
        border: 1px solid black;
        resize: vertical;
    }

    .form-new-user button {
        border: none;
        font-size: 16px;
        font-family: Lato;
        display: inline-block;
        padding: 0.7em 1.4em;
        margin: 0 0.3em 0.3em 0;
        border-radius: 0.15em;
        box-sizing: border-box;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        color: #FFFFFF;
        background-color: #3e94e6;
        box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    }

        .form-new-user button:active {
            top: 0.1em;
        }

    .form-new-user select {
        -moz-appearance: none;
        appearance: none;
        /* Add some styling */
        height: 30px;
        margin: 5px 0px;
        padding: 0px 10px;
        font-size: 16px;
        line-height: 1.75;
        color: #333;
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #0ebeff;
        -ms-word-break: normal;
        word-break: normal;
    }

@media all and (max-width:30em) {
      button {
        display: block;
        margin: 0.4em auto;
    }
}

/*Add Medication Page*/
.form-meds {
    width: 100%;
    padding: 20px 0;
    background-color: #fff;
}

    .form-meds form input {
        width: 40%;
        height: 30px;
        margin-bottom: 4px;
        padding: 0px 1%;
        border: 1px solid var(--dark-grey);
        font-size: 16px;
        color: #282828;
        font-family: Lato;
    }

    .form-meds form textarea {
        width: 40%;
        height: 200px;
        margin-bottom: 4px;
        font-size: 16px;
        padding: 6px 1%;
        border: 1px solid black;
        resize: vertical;
    }

    .form-meds button {
        border: none;
        font-size: 16px;
        font-family: Lato;
        display: inline-block;
        padding: 0.7em 1.4em;
        margin: 0 0.3em 0.3em 0;
        border-radius: 0.15em;
        box-sizing: border-box;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        color: #FFFFFF;
        background-color: #3e94e6;
        box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    }

        .form-meds button:active {
            top: 0.1em;
        }

@media all and (max-width:30em) {
      button {
        display: block;
        margin: 0.4em auto;
    }
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
    display: none;
}

.select:after {
    content: '<>';
    font: normal normal normal 17px/1 FontAwesome;
    color: #0ebeff;
    right: 11px;
    top: 6px;
    height: 30px;
    padding: 15px 0px 0px 8px;
    border-left: 1px solid #0ebeff;
    pointer-events: none;
}

.form-meds select {
    -moz-appearance: none;
    appearance: none;
    height: 30px;
    margin: 5px 0px;
    padding: 0px 10px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #0ebeff;
    -ms-word-break: normal;
    word-break: normal;
}


.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content {
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}

.reminderBtns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    align-content: center;
    justify-content: center;
}

    .reminderBtns a {
        text-decoration: none;
        color: #000;
        font-size-adjust: 0.58;
    }

        .reminderBtns a:hover {
            transition: .5s;
            text-decoration: none;
        }

.yesPill:hover {
    background-color: #2deb2d;
}

.yesPill {
    text-align: center;
    padding: 1rem 1rem;
    box-shadow: var(--shadow);
    background-color: #8ade8a;
    text-decoration: none;
}


.snooze:hover {
    background-color: #fffa00;
}

.snooze {
    text-align: center;
    padding: 1rem 1rem;
    box-shadow: var(--shadow);
    background-color: #f7f459;
    text-decoration: none;
}