<html>
<head>
    <meta charset="utf-8 without BOM">

    <title>{{Title}}</title>
    <script src="https://kit.fontawesome.com/004f417883.js" crossorigin="anonymous"></script>
    <link href="{{ url_for('static', filename='/style.css') }}" rel="stylesheet">


    <script type="text/javascript">
        function openSlideMenu() {
            document.getElementById('menu').style.width = '250px';
            document.getElementById('content').style.marginLeft = '250px';
            document.getElementById('title').style.marginLeft = '250px';
        }
        function closeSlideMenu() {
            document.getElementById('menu').style.width = '0';
            document.getElementById('content').style.marginLeft = '0';
            document.getElementById('title').style.marginLeft = '0';
        }
    </script>

    {% block script %}
    {% endblock %}
    

    </head>
<body>

    <div id="content">

        <div class="logo">
            <a href="#" onclick="openSlideMenu()">
                <div class="slide">

                    <i class="fas fa-bars fa-2x"></i>
                </div>
            </a>

            <div id="menu" class="nav">
                <a href="#" class="close" onclick="closeSlideMenu()">
                    <i class="fas fa-times"></i>
                </a>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/list">Prescription List</a></li>
                    <li><a href="#">Call Physician</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/newUser">Sign Up</a></li>
                </ul>
            </div>
            <a href="/" id="title">
                <h2>{{title}}</h2>
            </a>
        </div>

        <div class="clock">
            <body onload="digit()">
                <p id="tt">
                </p>
            </body>
        </div>
        <div class="bg-modal">
            <div class="modal-content">
                <br />
                <h1> Time to take your medication</h1>
                <br />
                <div class="reminderBtns">
                    <a href="/takeMeds" id="ttakepill">
                        <div class="yesPill">
                            <i class="fas fa-smile-beam fa-4x"></i>
                            <h2>Take Medication</h2>
                        </div>
                    </a>
                    <a href="#" id="snooze" onclick="closeWindow()">
                        <div class="snooze">
                            <i class="fas fa-tired fa-4x"></i>
                            <h2>Snooze</h2>
                        </div>
                    </a>
                </div>
            </div>

        </div>

        <script src="/static/js/popupmsgs.js"></script>
        <audio id="alarm-sound">
            <source src="/static/resources/wake-up-sound.mp3" type="audio/mp3">
        </audio>

        <div class="wrapper">
            {% block wrapper %}
            {% endblock %}
        </div>
    </div>
</body>
</html>