<!DOCTYPE html>
<html>
{% extends "base.html" %}
<body>
    {% block wrapper %}
    <div class="form-new-user" id="addNewUser">
        <form action="addNewUser" method="post">
            <p>First Name: </p>
            <input type="text" name="firstName" placeholder="First Name" /> <p>Last Name: </p>
            <input type="text" name="lastName" placeholder="Last Name" />
            <br />
            <p>Telephone for Reminder Texts: </p>
            <input type="tel" name="phone" placeholder="Telephone" />
            <br />
            <p>Doctor's name: </p>
            <input type="text" name="docName" placeholder="Doctor's Name" />
            <p>Doctor's Telephone: </p>
            <input type="tel" name="docPhone" placeholder="Doctor's Telephone" />

            <br />
            <p>When would you like to be reminded to take your medication:</p>

            <select id="timeHour" name="timeHour">

                <script language="javascript" type="text/javascript">for (var d = 1; d <= 12; d++) {
                        if (d < 10) {
                            document.write("<option>" + "0" + d + "</option>");
                        } else {
                            document.write("<option>" + "" + d + "</option>");
                        }
                    }</script>

            </select>
            <select id="timeMin" name="timeMin">

                <script language="javascript" type="text/javascript">for (var d = 0; d <= 59; d++) {
                    if (d < 10) {
                        document.write("<option>" + "0" + d + "</option>");
                    } else {
                        document.write("<option>" + "" + d + "</option>");
                    }
                }</script>

            </select>

            <select id="amPm" name="amPm">
                <option value="AM">AM</option>
                <option value="PM">PM</option>


            </select>

            <select id="reminderDay" name="reminderDay">
                <option value="daily">Daily</option>
                <option value="twice daily">Twice Daily</option>
                <option value="every other day">Every other day</option>
                <option value="7-10 days">7-10 days</option>
                <option value="as needed">Never</option>
            </select>
            <br />
            <br />
            <button type="submit" name="submit">Add</button>
        </form>

    </div>

    {% endblock %}

</body>
</html>